@font-face {
    font-family: 'Norse-Bold';
    src: url("assets/Norse-Bold.otf");
}
:root{
    font-family: 'Roboto', sans-serif;
    --create-btn: #596D48;
    --input-border-focus: blue;
    --right-background-color:white;
    --default-border-color: #E5E7EB;
    --top-right-height: 40vh;
    --mid-right-height: 30vh;
    --bot-right-height: 30vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{

    overflow: hidden;
}
body{
    display: flex;
    background: url('https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1862&q=80');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.left{
    flex:1;
    position: relative;
}
.right{
    flex:3;
    background-color: var(--right-background-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}
.odin-logo{
    position: absolute;
    top:25%;
    /* left:30%; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.2);

}
.intro{
    font-size: 1.5rem;
    font-weight: bold;
}
.text-container{
    display: flex;
    width: 900px;
    padding:75px;
    flex-direction: column;
    gap: 32px;
}
img,.odin{
    opacity: 1;
}
img{
    width: 120px;
    height: auto;
}
.odin{
    font-family: 'Norse-Bold';
    display: inline;
    color:white;
    font-size: 100px;
}
.top,.bottom{
    background-color: rgba(230,230,230,0.2);
}
.top{
    min-height: var(--top-right-height);
    flex: 1 1 auto;
}
.middle{
    min-height: var(--mid-right-height);
    padding: 10px 10px 10px 60px;
    box-shadow: 4px 8px 8px rgba(230,230,230);
    flex: 1 1 auto;
}
.bottom{
    min-height: var(--bot-right-height);
    padding: 50px;
    flex: 1 1 auto;
}
.form-group{
    display: flex;
    gap:75px;
    margin-bottom: 32px;
}
.form-control{
    display: flex;
    flex-direction: column;
}
.form-control input[type="text"],
              input[type="password"],
              input[type="email"],
              input[type="tel"]{
    width:250px;
    height: 30px;
    border: 1px solid var(--default-border-color);
    border-radius: .3rem;
    font-size: large;
    padding: 6px;
}
input[type="text"]:focus{
    outline: none;
    box-shadow: 4px 8px 8px rgba(230,230,230);
    border-color: var(--input-border-focus) !important;
}
input[type="password"]:focus:invalid{
    outline: none;
    border-color: red !important;
}
label{
    margin-bottom: 4px;
    font-weight: 500;
}
.title{
    margin-bottom: 20px;
}
.submit{
    padding: 10px 40px;
    width: 300px;
    height: 5vh;
    border-radius: .5rem;
    background-color: var(--create-btn);
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
}
a{
    color:var(--create-btn);
    font-weight: 500;
    text-decoration: none;
}
.account_existed{
    font-size: 1.2rem;
    font-weight: 500;
}
.photo_credit{
    color: var(--default-border-color);
    position: absolute;
    bottom: 10px;
    left: 30%;
}
@media only screen and (max-width:900px){
    body{
        flex-direction: column;
    }
    .right{
        overflow: auto;
        height: 75%;
    }
    .left{
        height: 25%;
    }
    .intro{
        font-size: larger;
    }
    .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
    }
    .odin-logo{
        height: 100px;
    }
    .text-container{
        width:520px;
    }
    .middle,.bottom{
        flex:1;
        /* text-align: center; */
    }
    .bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title{
        text-align: center;
    }
    .form-group{
        flex-direction: column;
        gap:10px;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
    }
}
#warningMsg{
    color:red;
}